.table-user {
    .special-page__search {
        display: flex;
        justify-content: flex-end;
        margin: 10px 0;

        
        .search {
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            outline: 1px solid #e5e5e5;
            margin-right: 10px;
            i {
                font-size: 18px;
                padding: 10px 15px;
            }
            
            input {
                border: none;
                outline: none;
                padding: 10px 15px;
                
            }
        }
    }
}