.admin {
    .button {
        background-color: orange !important;
        outline: none;
    }
    .admin__header {
        border-bottom: 1px solid #e5e5e5;
    }
    .admin__body {
        display: flex;
        .admin__body__sidebar {
            position: fixed;
            bottom: 0;
            top: 0;
            left: 0;
            width: 250px;

        }
        .admin__body__content {
            width: 100%;
            margin-left: 300px;
            overflow: hidden;
            

        }
    }
}