.doctor {
    .doctor__header {
        border-bottom: 1px solid #e5e5e5;
    }
    .doctor__body {
        display: flex;
        .doctor__body__sidebar {
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 0;
            
        }
        .doctor__body__content {
            width: 100%;
            margin-left: 300px;
        }
    }
}