
.background-login {
    background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/watermarks/image/rDtN98Qoishumwih/doctor-with-heartbeat-background_Gy1IlbKu_SB_PM.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 60px);
    width: 100%;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;


    
}
.login-title {
    font-size: 30px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    text-align: center;
    height: 100%;
    margin-top: 60px;
    h1 {
        margin: 0;
        font-weight: 800;
        color: rgb(191, 200, 16);
        font-size: 50px;   
    }
    h2 {
        margin: 0;
        font-weight: 800;
        color: rgb(0, 0, 0);
        font-size: 30px;
        letter-spacing: 1.5px;
        

    }
    @media screen and (max-width: 768px) {
        display: none;
    
        
    }
}
.form-login {
    width: 400px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-right: 60px;
    
    border-radius: 10px;
    height: 90%;
    @media screen and (max-width: 768px) {
        margin: 0 auto;
    }
    
    
    form {
        .title-login {
            text-align: center;
            font-size: 20px;
            font-weight: 800;
            color: #000;
            margin-bottom: 20px;
        }
    }

}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px ;
    margin-bottom: 10px;
}
.btn-login {
    margin: 0 auto;
    display: block;
    padding: 10px 30px;
}