menu-big {
    list-style: none !important;
}
.sidebar {
    
    border-right: 1px solid #e5e5e5;
    height: 100vh;
    min-width: 260px;
    padding: 0 20px;
    padding-top: 20px;
    border-radius: 5px;
    


    .sidebar__logo {
        background-image: url("../../../../assets/images/data/logo.png");
        height: 50px;
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 20px;

    }
    .sidebar__menu {
        ul {
           
            padding: 0;
            li {
               padding: 7px 0;
               width: 100%;
               list-style: none;
                a {
                    display: block;
                    text-decoration: none;
                    color: #000;
                    font-size: 15px;
                    width: 100%;
                    cursor: pointer;
                    padding: 0 20px;
                    .fa {
                        min-width: 30px;
                        color: #000;
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        width: 100%;
                        display: none;
                        li {
                           display: block;
                            width: 100%;
                            padding: 0;
                            a {
                                display: block;
                                width: 100%;
                                text-decoration: none;
                                padding: 10px 20px;             
                                color: #000;
                                font-size: 12px;
                                width: 100%;
                                .fa {
                                    width: 15px;
                                    padding-right: 30px;
                                }
                            }
                        }
                    }

                }
            }
        }
           
        

    }

}
 

// .non_active {
//     background-color: #fff !important;
//     ul {
//         display: none !important;
//     }
    
// }
.nav-item {
    
    
    
}
.nav-item-2 {
    margin-left: 30px !important;
}
.nav-link {
    color: #fff !important;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 12px !important;
}

// .active-nav {
    
//     // color: #eaedf2 !important;
    
    
//     color: #eaedf2;
//     background-color: #2e3650;
//     border: 0.0625rem solid #4c5680;

// }
.icon-sidebar-menu {
    color: #fff !important;
    font-size: 15px !important;
    display: inline-block;
    width: 15px !important;
    min-width: 30px !important;

    
}
// .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    
//     color: #eaedf2;
//     background-color: #2e3650;
//     border: 0.0625rem solid #4c5680;   
// }
.submenu {
    border-left: 1px solid #92d0ff !important;
    border-bottom: 1px solid #92d0ff !important;
    box-shadow: 0 0 5px #92d0ff !important;
    margin-left: 20px !important;
    border-radius: 5px;
    list-style: none !important;
    li {
        width: calc(100% - 20px) !important;
        margin: 0 10px !important;      
        .link-submenu {
            font-size: 12px !important;
            color: #000 !important;
        }
    }
}
.fa-solid {
    color: #000 !important;
}